<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NeptunoConnection" 
         connectionString="Server=localhost;Database=NeptunoDB;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=8;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
